@model ShopBon.Models.Product

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xác Nhận Thông Tin Sản Phẩm Cần Xóa</h2>

<h3>Bạn Quyết Định Xóa Sản Phẩm Này</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatId)
        </dd>

        <dt>
            Tên Sản Phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Chi Tiết Sản Phẩm
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Detail)
        </dd>

        <dt>
            Giá Bán
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.PriceBuy) VNĐ
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/Public/Images/"+Model.Img)" width="120px" />
        </dd>

        <dt>
            Ngày Cập Nhật
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Created_At)
        </dd>

    </dl>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở Về", "Product")
        </div>
    }
</div>
